/*Clases que tienen un nombre clave*/
/*Box - modeling. Ayuda a determinar el espacio que va a ocupar un elemento. Se distinguen 3 partes dentro del elemento
Padding (interno)
Border (limite de borde interno)
margin (margen con respecto a las otras etiquetas)*/
/*Medidas relativas. Se puede adaptar a los diferentes tamanos de pantalla
% Podemos usarla en base al 100% del ancho de la pantalla
rem, nos ayuda a trabajar el tama;o de fuentes en los dispositivos moviles.*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*  font-family: "Lobster Two", sans-serif;*/

/*Se genera el reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    padding-top: 0px;
}

.body-iniciarsesion {font-family: Arial, sans-serif;
background: #fff;
color:#000;
display: block;
justify-content: center;
min-height: 100vh;}

.container{
    max-width: 400px;
    width: 100%;
    margin-top: 80px; /*empuja el formulario hacia abajo*/
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1.25rem;
}

.container h1{ font-size: 32px;
font-weight: bold;
margin: 0;}

.container form{display: grid;
gap: .9375rem;}

.container label {font-size: 12px;
font-weight: bold;
margin-bottom: 5px;}

.container input{width: 100%;
padding: 12px;
border: 1px solid #ccc;}

.buttons {display: grid;
grid-template-columns: 1fr 1fr;
gap: .625rem;}

/*Responsive. en móviles los botones se apilan*/
@media (max-width:480px) {.buttons {grid-template-columns: 1fr;}}



.body-indicadores {font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f5f5f5;
display: flex;
justify-content: center;}

.containerindicadores {
max-width: 900px;
padding: 20px;
text-align: center;
}


.containerindicadores h1 {
    text-align: center;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid {display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 20px;
}

.card {background: white;
border-radius: 24px;
padding: 1.5rem;
box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
text-align: center;
width: 350px;
min-height: 250px;
}

.card img {width: 140px;
    height: 140px;
    object-fit: contain;
margin: .5rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem; /*espacio entre las cards*/
    margin-top: 2rem; /*espacio debajo del navbar*/
}


/*Header*/
.headerIndex {
    /*Que ocupe el 100% del ancho de pantalla*/
    width: 100%;
    background-color: rgba(220, 219, 165, 0.388);
    position:fixed;
    top: 0px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    /*Coloco los elementos uno al lado del otro*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
}
/*Flexbox funciona con el concepto de padre e hijo. Se le va a aplicar a una etiqueta contenedora la propiedad flex y va a afectar unicamente a sus hijos directos.*/
.logo-tcs{
    width: 6.25rem; /*Ancho del logo*/  
}
.imagen-principal{
    width: 100%; /*Ancho. Se utiliza % para que se ajuste al contenedor section-principal*/  
}
.parrafoTres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Se separa de forma equitativa tanto en los margenens como entre las cards.*/ 
    justify-content: space-evenly;
    height: 31.25rem;
    background-color: lightblue;
    /*Align me permite mover los elementos del contenedor de arriba hacia abajo*/
    align-items: center; 
}


.info-pagina{
    background-color: rgb(212, 255, 205);
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 1.25rem;    
}

.parrafoUno {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../assets/img/imagen-principal.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafoDos {
    text-align: center;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem;
}

.parrafoUno h1 {
    text-align: left;
}

.parrafoUno p {
    text-align: left;
}

/*Propiedades generales*/
a {
    text-decoration: none;
    color: black;
}



/*Barra de navegación*/
.navbar {
    list-style: none;
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: inline; /*Por defecto una etiqueta puede ser inline o block.
    Inline son las etiquetas que por defecto solamente ocupan el espacio de su contenido dentro del documento.
    Block son aquellas que ocupan el 100% del ancho en el documento.*/
    display: flex;
    gap: 1.25rem;
}





/*Título principal*/
h1 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

/*Primer párrafo*/
.produccionUno {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

.produccionUno {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid black;
}

.produccionUno article {
    width: 50%;   
    align-self: center; 
}
.produccionUno article h1{
    font-size: 1.875rem;    
}
.produccionUno article p{
    width: 100%;
    max-width: 40ch;   
}
.produccionUno img {width: 50%; /*Ancho del logo*/  }

/*Segundo párrafo*/
.parrafoDos h4 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.parrafoDos h2 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.parrafoDos p {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*Tercer párrafo*/
.parrafoTres h3 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.parrafoTres p {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/*Cuarto párrafo*/
.parrafoCuatro {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 1.1875rem;
    background-color: aqua;
    /*box-model*/
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 1.875rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/*Quinto párrafo*/
.parrafoCinco h3 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.parrafoCinco ol {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/*Sexto párrafo*/
.parrafoSeis h3 {
    font-family: "Lobster Two", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.formulario {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 14px;
}