.body-iniciarsesion {
  font-family: $font-main;
  background: #fff;
  color: $text-color;
  min-height: 100vh;
  @include flex-center;
}

.container {
  max-width: 400px;
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1.25rem;

  h1 {
    font-size: $h1-size;
    font-weight: bold;
  }

  form {
    display: grid;
    gap: 0.9375rem;
  }

  label {
    font-size: 12px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;

  @include responsive(480px) {
    grid-template-columns: 1fr;
  }
}