@use "../base/variables" as v;

.header {
  padding: 1rem;
  text-align: center;

  @media (min-width: v.$bp-tablet) {
    padding: 2rem;
    text-align: left;
  }

  @media (min-width: v.$bp-desktop) {
    padding: 3rem 4rem;
  }
}
