// Flexbox centrado
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Responsive
@mixin responsive($break) {
  @media (max-width: $break) {
    @content;
  }
}