// 🎨 Colores
$primary-color: #123456;
$secondary-color: #abcdef;
$text-color: #000;

// 🖋 Tipografías
$font-main: 'Open Sans', sans-serif;
$font-title: 'Poppins', sans-serif;

// 📏 Tamaños
$h1-size: 3.125rem;
$h2-size: 1.875rem;
$h3-size: 1.25rem;
$p-size: 1rem;

// 🔲 Otros
$border-radius: 10px;

// 📱 Breakpoints (mobile first)
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1200px;

